<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Contact Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        body{
            padding-top: 100px;
            padding-bottom: 100px;
        }
    </style>
</head>
<body>
<h2>Contact List</h2>

<div >
    <form method=post" th:action="@{/contact}" th:object="${contact}"class="was-validated">
        <div class="form-group">
            <label th:text="#{contact.id}">Id</label>
            <input class="form-control"type="text" th:field="*{id}"placeholder="Enter a contact">

        </div>
        <div class="form-group">
            <label th:text="#{contact.name}">Name</label>
            <input class="form-control"type="text"th:field="*{name}"placeholder="Enter a contact">
        <input class="btn btn-success" type="submit"value="Submit"/>
        </div>
    </form>
    <div th:if="${contactList}">
        <p> No contacts available</p>
    </div>
    <div>
        <ul class="list-group"th:each="contact:${contactList}"></ul>
        <li class="list-group item"th:text="${contact}"></li>
        <p th:text="${contact}"></p>
    </div>
</div>


</body>
</html>